<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SqlSampleMapper">

	<select id="selectNow" parameterType="java.util.HashMap"
		resultType="java.sql.Timestamp">
		SELECT now()
	</select>
	<select id="daoTest" parameterType="java.util.HashMap"
		resultType="light.vo.TestVo">
		SELECT * FROM street_lamp.test

		<if test="student != null">
			WHERE student = #{student}
		</if>


	</select>


</mapper>